.inputContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 10;
}

.inputContainer input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.inputContainer button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.inputContainer button div {
  font-size: 24px;
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1d1d1d;
  height: 64px; /* Adjust height if needed */
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: 1px solid grey;
  z-index: 10;
}

.content {
  flex: 1;
  margin-top: 64px; /* Same as the header height */
  margin-bottom: 50px; /* Same as the input container height */
  background-color: #141414;
  color: white;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 114px); /* Adjust height dynamically */
}
