.inputContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0C0C0C;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 10;
  border-top: 1px solid grey;
}

.inputContainer textarea {
  flex: 1;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  background-color: #0C0C0C;
  border: 1px solid grey;
  border-radius: 4px;
  resize: none; 
  overflow-y: auto;
  transition: border-color 0.3s;
  color: #808080; 
}

.inputContainer textarea:focus {
  border: 1px solid grey;
  outline: none;
}

.inputContainer button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.inputContainer button div {
  font-size: 24px;
  color: #808080;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1d1d1d;
  height: 64px; 
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-bottom: 1px solid grey;
  z-index: 10;
}

.ChatContent {
  flex: 1;
  margin-top: 64px;
  margin-bottom: 60px;
  background-color: #141414;
  color: white;
  overflow-y: auto; /* This enables scrolling */
  padding: 20px;
  display: flex;
  flex-direction: column-reverse; /* Reverses the order of the messages */
  justify-content: flex-start; /* Aligns messages to start at the bottom */
  box-sizing: border-box;
  height: calc(100vh - 124px); /* Adjusted for header and input container height */
}

.Sender {
  background: #1F1E15;
  max-width: 70%;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 10px;
  border-bottom-right-radius: 1px;
  align-self: flex-end;
}

.reciever {
  background: linear-gradient(135deg, #d4ba23 0%, #8B8000 50%, #2c2727 100%);
  max-width: 70%;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 10px;
  border-bottom-left-radius: 1px;
  align-self: flex-start;
}
