.head {
  font-size: 25px;
  color: #ffffff;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.description {
  font-size: 14px;
  color: #a7aabe;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-left: 9px;
  padding-right: 9px;
}

.chatting {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}

.arrow {
  background-color: rgba(255, 255, 255, 0.882);
  backdrop-filter: blur(20px);
  font-family: Reddit Mono;
}


@media screen and (min-width:1050px) {
    .head {
      font-size: 4rem;
      text-align: left;
      width:400px
    } 
    .description {
      width: 300px;
      font-size: 1.2rem;
    }
}