.buffer {
  animation: buffer 1s infinite linear;
  border-color: blueviolet;
}

@keyframes buffer {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
